<div style="display: flex; flex-direction: column;">

<mat-card>

    <mat-card-header>
        <div>
         <h3> {{currentuser.userName}} Tasks </h3>
         <button type="button" (click)="ShowNewTask()">Add</button>
        </div>
    </mat-card-header>
    <mat-card-content>
        <div *ngFor="let t of currentuser.tasks" [style.display]="visibleNewTask? 'none' : 'block' " >
            <app-tasks [tasksForUser]="t" [currentuser]="currentuser"></app-tasks>
        </div >

        <div [style.display]="visibleNewTask? 'block' : 'none' ">
            <mat-card>              
                    <form #f="ngForm" (ngSubmit)="addTask(); f.reset(); visibleNewTask= !visibleNewTask">
                    <label for="tasktile">Title:</label>
                    <input type="text" name="title" required [(ngModel)]="newTask.title">              
                <mat-card-actions>
                    <button type="button" (click)="visibleNewTask =!visibleNewTask">Cancel</button>
                    <button type="submit" [disabled]="!f.valid">Add Task</button>            
                  </mat-card-actions>
                </form>
            </mat-card>      
          </div>
    </mat-card-content>
    <mat-card-actions></mat-card-actions>
</mat-card>

<mat-card>

    <mat-card-header>
         <h3> {{currentuser.userName}} Posts
            <button type="button"  (click)="ShowNewPost()">Add</button>
         </h3> 
    </mat-card-header>
    <mat-card-content>
        <div *ngFor="let p of currentuser.posts" [style.display]="visibleNewPost? 'none' : 'block' ">
            <app-posts [postsForUser]="p"></app-posts>
        </div>

        <div [style.display]="visibleNewPost? 'block' : 'none' ">
            <mat-card>              
                    <form #f1="ngForm" (ngSubmit)="addPost(); f.reset(); visibleNewPost= !visibleNewPost">
                    <label for="posttile">Title:</label>
                    <input type="text" name="title" required [(ngModel)]="newPost.title"> <br/>    
                    <label for="postbody">Body:</label>
                    <input type="text" name="body" required [(ngModel)]="newPost.body">             
                <mat-card-actions>
                    <button type="button" (click)="visibleNewPost =!visibleNewPost">Cancel</button>
                    <button type="submit" [disabled]="!f1.valid">Add Post</button>            
                  </mat-card-actions>
                </form>
            </mat-card>      
          </div>
    </mat-card-content>
    <mat-card-actions></mat-card-actions>
</mat-card>


</div>